<style>
  .user-number{
    font-size: 27px;
  }
  .major{
    font-size: 15px;
  }
  mark{
    border-radius: 100px;
    padding-right: 4px;
    padding-left: 4px;
    margin-right: 3px;
  }
</style>
<div class="row">
  <div class="col-md-12">
      <nb-card accent="info" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
        <nb-card-header style="
          padding-bottom: 5px;
          padding-top: 5px;
          position: relative;
        ">
          <button class="btn btn-success btn-round btn-demo btn-sm" style="
            padding: 3px;
            height: 28px;
            border-radius: 20px;
            vertical-align: top;
          ">
          <i class="nb-arrow-dropright"  style="font-size: 20px;"></i> 
          </button>&nbsp;
          <span class="user-number text-success">6127</span>&nbsp;
          <span class="major text-hint">Nursing,CUHK</span>
          <nb-actions size="medium" style="
              position: absolute;
              right: 0px;
              top: 6px;
          ">
            <nb-action icon="ion ion-bookmark"></nb-action>
            <nb-action icon="ion ion-heart"></nb-action>
          </nb-actions>
        </nb-card-header>
      <nb-card-body>
          <mark class="color bg-danger">F 21</mark>
          <mark class="color bg-warning">165 cm</mark>
          <mark class="color bg-info">48 kg</mark>
          <mark class="color bg-success">金牛座</mark>
          <mark class="color bg-primary">不抽煙</mark>
          <br/>
          呢排心情麻麻，當自己一個人個陣就會 想識個人吹下水陪下自己以解孤單之愁。
        </nb-card-body>
      </nb-card>
  </div>
</div>
