<style>
  .user-number{
    font-size: 27px;
  }

  .major{
    font-size: 15px;
  }
</style>
<div class="row">
  <div class="col-md-12">
      <nb-card accent="info">
        <nb-card-header style="
          padding-bottom: 5px;
          padding-top: 5px;
        ">
          <button class="btn btn-success btn-round btn-demo btn-sm" style="
            padding: 3px;
            height: 28px;
            border-radius: 20px;
            vertical-align: top;
          ">
          <i class="nb-arrow-dropright"  style="font-size: 20px;"></i> 
          </button>&nbsp;
          <span class="user-number text-success">6127</span>&nbsp;
          <span class="major text-hint">Nursing,CUHK</span>
        </nb-card-header>
      <nb-card-body>
          呢排心情麻麻，當自己一個人個陣就會 想識個人吹下水陪下自己以解孤單之愁。
        </nb-card-body>
      </nb-card>
  </div>
</div>
