<div class="row">
  <div class="col-md-12">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="xlarge">
      <nb-card-header>
        個人資料
      </nb-card-header>
      <nb-card-body>
        預覽：
        <participant-card></participant-card>
      </nb-card-body>
      <nb-card-footer>
          <div class="form-horizontal">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 form-control-label">大學</label>
              <div class="col-sm-10">
                <input type="email" [(ngModel)]="college" class="form-control" id="" placeholder="CUHK" disabled>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 form-control-label">主修</label>
              <div class="col-sm-10">
                  <div class="form-group">
                    <select class="form-control" [(ngModel)]="major">
                      <option>Nursing</option>
                      <option>Computer Science</option>
                      <option>Art</option>
                      <option>Social Science</option>
                    </select>
                  </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 form-control-label">出生日期</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="" [(ngModel)]="dob">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 form-control-label">抽煙</label>
              <div class="col-sm-10">
                  <div class="form-group">
                    <select class="form-control" [(ngModel)]="smoke">
                      <option>是</option>
                      <option>不是</option>
                    </select>
                  </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 form-control-label">戀愛狀態</label>
              <div class="col-sm-5">
                <div class="form-group">
                  <label for="inputFirstName">狀態</label>
                  <select class="form-control" [(ngModel)]="status_current">
                    <option>A (單身)</option>
                    <option>O (交往中)</option>
                    <option>C (一言難盡)</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <label for="inputLastName">拍拖次數</label>
                  <select class="form-control" [(ngModel)]="status_times">
                    <option>秘密</option>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>數唔晒</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 form-control-label">身高 (cm)</label>
              <div class="col-sm-10">
                  <div class="form-group">
                    <input type="number" class="form-control" id="" min="140" max="200" [(ngModel)]="height">
                  </div>
              </div>
            </div>
          
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 form-control-label">體重 (kg)</label>
              <div class="col-sm-10">
                  <div class="form-group">
                    <input type="number" class="form-control" id="" min="30" max="100" [(ngModel)]="weight">
                  </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 form-control-label text-success">自我介紹</label>
              <div class="col-sm-10">
                <input type="text" class="form-control form-control-success" id="" [(ngModel)]="description">
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-success" (click)="submit()">儲存</button>
              </div>
            </div>
          </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
