$colors: (
	primary: #FFC0CB,
	secondary: #b2f0fc,
	danger: #f53d3d,
	light: #f4f4f4,
	dark: #222,
	black: #393A3F,
	white: #FFFFFF,
	grey: #9B9B9B,
	pinkgrey: #e0e0e0,
	lightgrey: #f4f4f4,
	palette1: #FC9630,
	lightorange: #FFD3A3,
	lightblue: #007AFF,
);

@import "containter";
